<section id='about' class="s-about">

  <div class="section-avatar" data-aos="fade-up">
    <img src="./assets/images/avatars/david-01.png" alt="Circle Avatar" class="img-circle img-no-padding">
  </div>
  <!-- end profile-avatar -->

  <div class="row section-header has-bottom-sep" data-aos="fade-up">
    <div class="col-full">
      <h3 class="subhead subhead--dark">Hello There!</h3>
      <h1 class="display-1 display-1--light">About Me</h1>
    </div>
  </div>
  <!-- end section-header -->

  <div class="row about-desc" data-aos="fade-up">
    <div class="col-full">
      <p>
        I am David, a <b>Games Development student</b> from <a href="http://mullingar.ie/">Mullingar</a>, <b>Ireland</b>. I'm currently studying at <a href="https://www.itsligo.ie/">Institute
        of Technology, Sligo</a> with a flair for programming and design. I received <b><a href="https://twitter.com/Daithyi/status/984505454654054400">2 awards</a></b> 
        in <a href="http://www.lit.ie/">LIT</a>'s annual <b><a href="http://gamesfleadh.ie/">Games Fleadh 2018</a></b> student competition and 
        can't wait to enter again this year in 2019. I created a <b><a href="https://youtu.be/0QMud87XSTE?t=8m47s">custom campaign</a></b> 
        for the Half-Life mod <a href="https://store.steampowered.com/app/223710/Cry_of_Fear/">Cry of Fear</a> in 2012 when I was <b>15 years old</b>.
      </p>
    </div>
    <div class="col-full">
      <p>
        My eagerness to learn keeps me captivated in my craft and I love to use my skills to aid <b>remarkable gameplay</b> and enduring narrative-driven experiences. 
        Taking on new challenges is always a joy for me, <b>collaborating together</b> to build something big and exciting is even better!
      </p>
    </div>
    <div class="col-full">
      <p>
        Here I present to you some of the projects I have had the opportunity of contributing to, as well as some personal fun coding stuff
        that I've been working on. Every once in a while I like to <b><a href="http://darkydude.deviantart.com/">draw</a></b> in my free time or for commission work.
      </p>
    </div>
    <div class="col-full">
      <p>
        If you have any questions, please feel free to <b><a class="smoothscroll" href="#contact">get in touch</a></b> with me!
      </p>
    </div>
  </div>
  <!-- end about-desc -->

  <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">
                
      <div class="col-block stats__col ">
          <div class="stats__count">3</div>
          <h5><i class="fa fa-trophy"></i> Awards Received</h5>
      </div>
      <div class="col-block stats__col">
          <div class="stats__count" *ngIf="contributions;else default_number">{{contributions.toString()}}</div>
          <ng-template #default_number><div class="stats__count">0</div></ng-template>
          <h5><i class="fa fa-github-alt"></i> Total Commits</h5>
      </div>
      <div class="col-block stats__col">
          <div class="stats__count">3</div>
          <h5><i class="fa fa-check"></i> Projects Completed</h5>
      </div>
      <div class="col-block stats__col">
          <div class="stats__count" *ngIf="twitterData;else default_number">{{twitterData.followers_count}}</div>
          <ng-template #default_number><div class="stats__count">0</div></ng-template>
          <h5><i class="fa fa-twitter"></i> Followers</h5>
      </div>

  </div> <!-- end about-stats -->

</section>