.about-desc a, a:visited, a:active {
    color: black;
    text-decoration: none;
    border-bottom: 1px black dotted;
}

.about-desc a:hover {
  color: black;
  text-decoration: underline;
  border: none;
}

.section-avatar {
  text-align: center;
}

.img-circle {
  background-color: white;
  margin-top: -250px;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 50% !important;
  border-style: none;
  max-width: 25%;
}

.img-no-padding{
  padding: 0px;
}

