<section id="contact" class="s-contact">

    <div class="overlay"></div>
    <div class="contact__line"></div>

    <div class="row section-header" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Contact Me</h3>
            <h1 class="display-2 display-2--light">Reach out to work together or feel free to get in touch</h1>
        </div>
    </div>

    <div class="row contact-content" data-aos="fade-up">
        
        <div class="contact-primary">

            <h3 class="h6">Send Me A Message</h3>

            <form [formGroup]="reactiveForm" name="contactForm" id="contactForm" method="post" action="" novalidate="novalidate">
                <fieldset>

                <div class="form-field">
                    <input name="contactName" type="text" id="contactName" placeholder="Your Name" value="" minlength="2" required="" aria-required="true" class="full-width">
                </div>
                <div class="form-field">
                    <input name="contactEmail" type="email" id="contactEmail" placeholder="Your Email" value="" required="" aria-required="true" class="full-width">
                </div>
                <div class="form-field">
                    <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" class="full-width">
                </div>
                <div class="form-field">
                    <textarea name="contactMessage" id="contactMessage" placeholder="Your Message" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                </div>
                <div class="form-field" id="re-captcha-box">
                    <re-captcha formControlName="recaptchaReactive"></re-captcha>
                </div>
                <div class="form-field">                    
                    <button [disabled]="reactiveForm.invalid" class="full-width btn--primary">Submit</button>
                    <div class="submit-loader">
                        <div class="text-loader">Sending...</div>
                        <div class="s-loader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>

                </fieldset>
            </form>

            <!-- contact-warning -->
            <div class="message-warning">
                Something went wrong. Please try again.
            </div> 
        
            <!-- contact-success -->
            <div class="message-success">
                Your message was sent, thank you!<br>
            </div>

        </div> <!-- end contact-primary -->

        <div class="contact-secondary">
            <div class="contact-info">            
                
                <h3 class="h6 hide-on-fullwidth">Contact Info</h3>

                <div class="cinfo">
                    <h5>Where to Find Me</h5>
                    <p>
                        25B Yeats Village<br>
                        Ballinode, Sligo<br>
                        F91 YP6X IRE
                    </p>
                </div>

                <div class="cinfo">
                    <h5>Email Me At</h5>
                    <p>
                        davidbrennan@hotmail.com<br>
                        s00172994@mail.itsligo.ie
                    </p>
                </div>

                <div class="cinfo">
                    <h5>Resumé / CV</h5>
                    <form [formGroup]="downloadForm" action="../assets/cv/David-Brennan-CV-2018.pdf">
                        <button class="full-width btn--primary btn-download">Download</button>
                    </form>
                </div>

                <ul class="contact-social">
                    <li>
                        <a href="https://www.facebook.com/Daithyi"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/daithyi"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/s00172994"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://ie.linkedin.com/in/daithy"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="http://daithyi.tumblr.com/"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end contact-social -->

            </div> <!-- end contact-info -->
        </div> <!-- end contact-secondary -->

    </div> <!-- end contact-content -->

</section>