<section id="skills" class="s-skills">

  <div class="row section-header" data-aos="fade-up">
    <div class="col-full">
      <h3 class="subhead">My Skills</h3>
      <h1 class="display-2">These are some of my technical skills</h1>
    </div>
  </div>
  <!-- end section-header -->

  <div class="row skills-outer" data-aos="fade-up">
    <div class="col-full">
      <div class="skills">

        <a title="C#" class="skills__slide">
          <img src="./assets/images/skills/icons8-c-sharp-logo-filled.svg" />
          <h4 class="skills__slide-title">C#</h4>
        </a>
        <a href="https://www.typescriptlang.org/" title="TypeScript" class="skills__slide" target="_blank">
          <img src="./assets/images/skills/typescript.svg" />
          <h4 class="skills__slide-title">TypeScript</h4>
        </a>
        <a href="https://unity3d.com/" title="Unity" class="skills__slide" target="_blank">
          <img src="./assets/images/skills/icons8-unity-filled.svg" />
          <h4 class="skills__slide-title">Unity</h4>
        </a>
        <a href="http://www.monogame.net/" title="MonoGame" class="skills__slide" target="_blank">
          <img src="./assets/images/skills/MonoGame_Logo.svg" />
          <h4 class="skills__slide-title">MonoGame</h4>
        </a>
        <a href="https://angular.io/" title="Angular" class="skills__slide" target="_blank">
          <img src="./assets/images/skills/icons8-angularjs-filled.svg" />
          <h4 class="skills__slide-title">Angular</h4>
        </a>
        <a title="LINQ" class="skills__slide">
          <img src="./assets/images/skills/net-linq.svg" />
          <h4 class="skills__slide-title">Language Integrated Query</h4>
        </a>
        <a title="WPF" class="skills__slide">
          <img src="./assets/images/skills/net-wpf.svg" />
          <h4 class="skills__slide-title">Windows Presentation Foundation</h4>
        </a>
        <a title="XAML/XML" class="skills__slide">
            <img src="./assets/images/skills/xml.svg" />
            <h4 class="skills__slide-title">XAML/XML</h4>
        </a>
        <a title="MVC" class="skills__slide">
          <img src="./assets/images/skills/net-mvc.svg" />
          <h4 class="skills__slide-title">Model View Controller</h4>
        </a>
        <a href="https://git-scm.com/" title="Git" class="skills__slide" target="_blank">
          <img src="./assets/images/skills/icons8-git-filled.svg" />
          <h4 class="skills__slide-title">Git</h4>
        </a>
        <a href="https://www.javascript.com/" title="JavaScript" class="skills__slide" target="_blank">
          <img src="./assets/images/skills/icons8-javascript-filled.svg" />
          <h4 class="skills__slide-title">JavaScript</h4>
        </a>
        <a href="https://visualstudio.microsoft.com/" title="Visual Studio" class="skills__slide" target="_blank">
          <img src="./assets/images/skills/icons8-visual-studio.svg" />
          <h4 class="skills__slide-title">Visual Studio</h4>
        </a>
        <a href="https://www.autodesk.eu/products/maya/overview" title="Maya 3D" class="skills__slide" target="_blank">
          <img src="./assets/images/skills/maya-2017.svg" />
          <h4 class="skills__slide-title">Maya 3D</h4>
        </a>
        <a href="https://www.adobe.com/ie/products/illustrator.html" title="Adobe Illustrator" class="skills__slide" target="_blank">
          <img src="./assets/images/skills/icons8-adobe-illustrator-filled.svg" />
          <h4 class="skills__slide-title">Adobe Illustrator</h4>
        </a>
        <a href="https://www.adobe.com/ie/products/photoshop.html" title="Adobe Photoshop" class="skills__slide" target="_blank">
          <img src="./assets/images/skills/icons8-adobe-photoshop-filled.svg" />
          <h4 class="skills__slide-title">Adobe Photoshop</h4>
        </a>

      </div>
      <!-- end skills -->
    </div>
    <!-- end col-full -->
  </div>
  <!-- end skills-outer -->

  <div class="row skills-testimonials" data-aos="fade-up">
    <div class="col-full">
      <div class="testimonials">

        <div class="testimonials__slide">

          <i class="fa fa-trophy testimonials__trophy"></i>
          <h2 class="testimonials__title">Game Studio Ireland Challenge - Best Windows Platform (UWP) Game</h2>
          <p>Awarded in the Game Studio Ireland Challenge in Games Fleadh 2018 hosted by Limerick IT - Tipperary. The game <a
              href="#works" class="smoothscroll">'Steel
              Wrath'</a> was designed and programmed by David over a 4 month development period.</p>

          <div class="block-1-2 block-m-1-2 block-mob-full">
            <div class="col-block">
              <img src="./assets/images/avatars/prof-cunnane.jpg" alt="Awarded by" class="testimonials__avatar">
              <div class="testimonials__info">
                <span class="testimonials__name">Prof. Vincent Cunnane</span>
                <span class="testimonials__pos">President LIT</span>
              </div>
            </div>
            <div class="col-block">
              <img src="./assets/images/avatars/stephen-howell.jpg" alt="Awarded by" class="testimonials__avatar">
              <div class="testimonials__info">
                <span class="testimonials__name">Stephen Howell</span>
                <span class="testimonials__pos">Microsoft Ireland</span>
              </div>
            </div>          
          </div>

        </div>

        <div class="testimonials__slide">
        
          <i class="fa fa-trophy testimonials__trophy"></i>
          <h2 class="testimonials__title">Game Studio Ireland Challenge - College Runner Up</h2>
          <p>Awarded in the Game Studio Ireland Challenge in Games Fleadh 2018 hosted by Limerick IT - Tipperary. The game <a
              href="#works" class="smoothscroll">'Steel
              Wrath'</a> was designed and programmed by David over a 4 month development period.</p>
        
          <div class="block-1-2 block-m-1-2 block-mob-full">
            <div class="col-block">
              <img src="./assets/images/avatars/prof-cunnane.jpg" alt="Awarded by" class="testimonials__avatar">
              <div class="testimonials__info">
                <span class="testimonials__name">Prof. Vincent Cunnane</span>
                <span class="testimonials__pos">President LIT</span>
              </div>
            </div>
            <div class="col-block">
              <img src="./assets/images/avatars/stephen-howell.jpg" alt="Awarded by" class="testimonials__avatar">
              <div class="testimonials__info">
                <span class="testimonials__name">Stephen Howell</span>
                <span class="testimonials__pos">Microsoft Ireland</span>
              </div>
            </div>
          </div>
        
        </div>

        <div class="testimonials__slide">

          <i class="fa fa-trophy testimonials__trophy"></i>
          <h2 class="testimonials__title">Games Development - Year 1 Games Competition Runner Up</h2>
          <p>The tower-defense project 'Fallen Garden' was awarded runner-up in the IT Sligo First Year Games Competition in
            2017, developed in GameMaker: Studio by David Brennan and Niall Connolly.</p>

          <img src="./assets/images/avatars/neil-gannon.jpg" alt="Author image" class="testimonials__avatar">
          <div class="testimonials__info">
            <span class="testimonials__name">Neil Gannon</span>
            <span class="testimonials__pos">Games Development Lecturer, IT Sligo</span>
          </div>

        </div>

      </div>
      <!-- end testimonials -->

    </div>
    <!-- end col-full -->
  </div>
  <!-- end skill-testimonials -->

</section>