<header class="s-header">

  <div class="header-logo">
    <a class="site-logo hvr-grow-rotate" href="index.html">
      <img src="./assets/images/logo.png" alt="Homepage">
    </a>
  </div>

  <nav class="header-nav">

    <a href="#0" class="header-nav__close" title="Close">
      <span>Close</span>
    </a>

    <div class="header-nav__content">
      <h3>Navigation</h3>

      <ul class="header-nav__list">
        <li class="current">
          <a class="smoothscroll" href="#home" title="Top">Home</a>
        </li>
        <li>
          <a class="smoothscroll" href="#works" title="My Works">Featured Projects</a>
        </li>
        <li>
          <a class="smoothscroll" href="#about" title="More About Me">About Me</a>
        </li>
        <li>
          <a class="smoothscroll" href="#experience-and-education" title="Education and Experience Summary">Experience</a>
        </li>
        <li>
          <a class="smoothscroll" href="#skills" title="My Skills">Skills</a>
        </li>
        <li>
          <a class="smoothscroll" href="#contact" title="Contact Me">Contact / CV</a>
        </li>
      </ul>

      <p>“A player is a participant, the more you can do real time with the player in control, the more immersive the experience
        becomes.” – <a>Craig Hubbard</a></p>

      <ul class="header-nav__social">
        <li>
          <a href="https://www.facebook.com/Daithyi">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/daithyi">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/s00172994">
            <i class="fa fa-github-alt"></i>
          </a>
        </li>
        <li>
          <a href="https://ie.linkedin.com/in/daithy">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="http://daithyi.tumblr.com/">
            <i class="fa fa-tumblr"></i>
          </a>
        </li>
      </ul>

    </div>
    <!-- end header-nav__content -->

  </nav>
  <!-- end header-nav -->

  <a class="header-menu-toggle" href="#0">
    <span class="header-menu-text">Menu</span>
    <span class="header-menu-icon"></span>
  </a>

</header>
<!-- end s-header -->