<section id='services' class="s-services">

  <div class="row section-header has-bottom-sep" data-aos="fade-up">
    <div class="col-full">
      <h3 class="subhead">Experience & Education</h3>
      <h1 class="display-2">A brief summary of my professional experience</h1>
    </div>
  </div>
  <!-- end section-header -->

  <div class="row services-list block-1-2 block-tab-full">

    <div id="experience" class="service-item" data-aos="fade-up">
      <div id="experience-timeline">

        <div data-date="2016 - PRESENT">
          <h3>Institute of Technology Sligo</h3>
          <h4>BSc. in Computing in Games Development (Level 7)</h4>
          <p>
            I am currently a Student Mentor at IT Sligo 2018 and was Class Representative 2016-2017. I actively participate in a number
            of societies including Games Society and IT Sligo’s Badminton team, competing in Badminton Intervarsities 2017 and ISBT
            Limerick 2017. I received 2 awards by competing in Games Fleadh 2018.
          </p>
        </div>

        <div data-date="2009 - PRESENT">
          <h3>Freelance</h3>
          <h4>Web Developer & Digital Artist</h4>
          <p>
            In my free time I develop websites such as this one. I also draw digital artwork with my Wacom Bamboo tablet and do commission
            work.
          </p>
        </div>
    
        <div data-date="August 2015 – October 2016">
          <h3>Tesco</h3>
          <h4>Customer Assistant</h4>
          <p>
            In order to develop my skills in a working team environment as well as fund my college degree, I took up a year of work at
            Tesco gaining further insight into the world of business, to boost interpersonal skills.
          </p>
        </div>

      </div>
    </div>

  </div>
  <!-- end services-list -->

</section>