.particles-background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

.home-title {
    font-size: 14px;
}

.presentation-title {
    font-size: 8em;
    font-weight: 700;
    margin: 0;
    color: #FFFFFF;
    // background: #fbf8ec;
    background: -moz-linear-gradient(to bottom, #FFFFFF 35%, #4e6773 100%);
    background: -webkit-linear-gradient(to bottom, #FFFFFF 35%,#4e6773 100%);
    background: -ms-linear-gradient(to bottom, #FFFFFF 35%,#4e6773 100%);
    background: -o-linear-gradient(to bottom, #FFFFFF 35%,#4e6773 100%);
    background: linear-gradient(to bottom, #FFFFFF 35%,#4e6773 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 767px){
    .presentation-title{
        font-size: 5em;
    }
}
@media (max-width: 500px){
    .presentation-title{
        font-size: 3.2em;
    }
}

#itch-icon {
    background: url(../../assets/images/icons/itch-logo.png);
    background-image: url(../../assets/svg/itch-logo.svg);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center;
}

#gamejolt-icon {
    background: url(../../assets/images/icons/gj-logo.png);
    background-image: url(../../assets/svg/gj-logo.svg);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center;
}