<section id='works' class="s-works">

  <div class="intro-wrap">

    <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
      <div class="col-full">
        <h3 class="subhead">Featured Projects</h3>
        <h1 class="display-2 display-2--light">I love to code and design, check out some of my latest works</h1>
      </div>
    </div>
    <!-- end section-header -->

  </div>
  <!-- end intro-wrap -->

  <div class="row works-content">
    <div class="col-full masonry-wrap">
      <div class="masonry">

        <div class="masonry__brick" data-aos="fade-up">
          <div class="item-folio">

            <div class="item-folio__thumb">
              <a href="./assets/images/portfolio/gallery/g-steel-wrath.jpg" class="thumb-link" title="STEEL WRATH" data-size="1050x700">
                <img src="./assets/images/portfolio/steel-wrath.jpg" srcset="./assets/images/portfolio/steel-wrath.jpg 1x, ./assets/images/portfolio/steel-wrath@2x.jpg 2x"
                  alt="STEEL WRATH">
              </a>
            </div>

            <div class="item-folio__text">
              <h3 class="item-folio__title">
                STEEL WRATH
              </h3>
              <p class="item-folio__cat">
                Games Fleadh 2018 Project
              </p>
            </div>

            <a (click)="goToURL('https://github.com/s00172994/Games-Fleadh')" class="item-folio__project-link" title="GitHub link">
              <i class="fa fa-github-alt"></i>
            </a>

            <div class="item-folio__caption">
              <p>“Steel Wrath is a sci-fi post-apocalyptic shoot ‘em up game written in C# for MonoGame. 
                The player controls a tank to fight against the hordes of rogue, artificial intelligent tanks on a desolate planet.”
              </p>
              <p>The project was developed on my own during the 2nd year of my Games Development course in IT Sligo.
                Over a 4 month development period, my role consisted of lead game designer, programmer, artist and video-editing producer.
                Steel Wrath features smooth tank controls, tank crew power-ups, randomized tank spawns and tank types. I also implemented
                an A* path-finding algorithm in combination with custom behaviours for the enemy AI tanks. I received 2 awards for this
                project at Games Fleadh 2018.
              </p>
              <a href="https://www.youtube.com/watch?v=utJI04fjqSs" target="_blank">Watch the game trailer here.</a>
            </div>

          </div>
        </div>
        <!-- end masonry__brick -->

        <div class="masonry__brick" data-aos="fade-up">
          <div class="item-folio">
        
            <div class="item-folio__thumb">
              <a href="./assets/images/portfolio/gallery/g-project-dissonance.png" class="thumb-link" title="Project Dissonance" data-size="1050x700">
                <img src="./assets/images/portfolio/project-dissonance.jpg" srcset="./assets/images/portfolio/project-dissonance.jpg 1x, ./assets/images/portfolio/project-dissonance@2x.jpg 2x"
                  alt="Project Dissonance">
              </a>
            </div>
        
            <div class="item-folio__text">
              <h3 class="item-folio__title">
                Project Dissonance (WIP)
              </h3>
              <p class="item-folio__cat">
                Project 300 (Final Year Project 2019)
              </p>
            </div>
        
            <a (click)="goToURL('https://github.com/ITSGameDevTeamY3/Project-Dissonance')" class="item-folio__project-link" title="GitHub link">
              <i class="fa fa-github-alt"></i>
            </a>
        
            <div class="item-folio__caption">
              <p>Project Dissonance is my final year project in the 3rd year of my Games Development course, developing in Unity
                3D and working with Killing Spraoi, a team of four highly motivated students from IT Sligo.</p>
            </div>
        
          </div>
        </div> <!-- end masonry__brick -->

        <div class="masonry__brick" data-aos="fade-up">
          <div class="item-folio">
        
            <div class="item-folio__thumb">
              <a href="./assets/images/portfolio/gallery/g-fearon-ref.png" class="thumb-link" title="Digital Art Commission - Fearon" data-size="1050x700">
                <img src="./assets/images/portfolio/fearon-ref.jpg" srcset="./assets/images/portfolio/fearon-ref.jpg 1x, ./assets/images/portfolio/fearon-ref@2x.jpg 2x"
                  alt="Digital Art Commission">
              </a>
            </div>
        
            <div class="item-folio__text">
              <h3 class="item-folio__title">
                Digital Art Commission
              </h3>
              <p class="item-folio__cat">
                Fearon Character Reference 2018
              </p>
            </div>
        
            <a (click)="goToURL('http://fav.me/dciwpt7')" class="item-folio__project-link" title="DeviantART link">
              <i class="icon-link"></i>
            </a>
        
            <div class="item-folio__caption">
              <p>This is a digital art commission for my partner, Adrian Fearon. It is a husky character reference for other artists to
                use when drawing his character. Here I apply layer, coloring and lineart techniques done in Paint Tool SAI + Adobe Photoshop.</p>
            </div>
        
          </div>
        </div> <!-- end masonry__brick -->

      </div>
      <!-- end masonry -->
    </div>
    <!-- end col-full -->
  </div>
  <!-- end works-content -->

  <div class="works__line"></div>

</section>