<section id='works' class="s-works">

  <div class="intro-wrap">

    <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
      <div class="col-full">
        <h3 class="subhead">Featured Projects</h3>
        <h1 class="display-2 display-2--light">I love to code and design, check out some of my latest works</h1>
      </div>
    </div>
    <!-- end section-header -->

  </div>
  <!-- end intro-wrap -->

  <div class="row works-content">
    <div class="col-full masonry-wrap">
      <div class="masonry">

        <div class="masonry__brick" data-aos="fade-up">
          <div class="item-folio">

            <div class="item-folio__thumb">
              <a href="./assets/images/portfolio/gallery/g-steel-wrath.jpg" class="thumb-link" title="Shutterbug" data-size="1050x700">
                <img src="./assets/images/portfolio/steel-wrath.jpg" srcset="./assets/images/portfolio/steel-wrath.jpg 1x, ./assets/images/portfolio/steel-wrath@2x.jpg 2x"
                  alt="">
              </a>
            </div>

            <div class="item-folio__text">
              <h3 class="item-folio__title">
                STEEL WRATH
              </h3>
              <p class="item-folio__cat">
                Games Fleadh 2018 Project
              </p>
            </div>

            <a (click)="goToURL('https://github.com/s00172994/Games-Fleadh')" class="item-folio__project-link" title="GitHub link">
              <i class="fa fa-github-alt"></i>
            </a>

            <div class="item-folio__caption">
              <p>“Steel Wrath is a sci-fi post-apocalyptic shoot ‘em up game written in C# for MonoGame. 
                The player controls a tank to fight against the hordes of rogue, artificial intelligent tanks on a desolate planet.”</p>
              <a href="https://www.youtube.com/watch?v=utJI04fjqSs">Watch the games trailer here.</a>
            </div>

          </div>
        </div>
        <!-- end masonry__brick -->

      </div>
      <!-- end masonry -->
    </div>
    <!-- end col-full -->
  </div>
  <!-- end works-content -->

  <div class="works__line"></div>

</section>